:root {
  --blue: #6699CC;
}

body {
  margin: 0;
  padding: 0;
  background: url("images/background2.png") repeat-y 50% 6px #333;
  font-family: 'segoe ui', verdana, geneva,tahoma, arial, sans-serif;
  font-size: .9em;
}

#mainbox { /* - The container for the whole page */
  width: 774px;
  position: absolute;
  left: 50%;
  margin-left: -387px;
  background: url("images/steveandfran2.png") no-repeat top center transparent;
}

#textbox { /* The container for the whole text section */
  margin: 275px 50px 35px 195px;
  background: transparent;
}

#textbox blockquote,
#textbox p,
#textbox ul {
  color: #666;
  text-align: justify;
  line-height: 1.6em;
  margin-top: 0;
}

#textbox blockquote {
  font-style: italic;
  padding: 0;
  margin: 1em 1.5em;
}

h1 {
  width: 154px;
  height: 34px;
}

h1 span {
  display: none;
}

h2 {
  font-family: georgia, "new york", "times new roman", serif;
  font-size: 22px;
  font-weight: normal;
  color: #d6ad55 /* #dbb360 */;
  border-bottom: dotted 1px #e0b865;
  padding-bottom: 0.2em;
  margin: 2em auto 0.2em;
}

/* #textbox h2 a:hover {
  color: #e0b865;
  text-decoration: none;
} */

h3 {
  font-family: georgia, "new york", "times new roman", serif;
  font-size: 80%;
  color: #648DE0;
  margin-top: 2em;
  text-decoration: underline;
}

h4 {
  color: #666;
  font-family: verdana, geneva,tahoma, arial, sans-serif;
  font-size: 70%;
  line-height: 1.6em;
}

abbr {
  cursor: help;
}

img {
  border: none;
}

hr {
  display: none;
}

.hr,
.hrend {
  margin: 2em 0 5px;
  background: url("images/hr.png") no-repeat center;
  height: 26px;
}

.hrend {
  clear: both;
}

#textbox a:link,
#textbox a:visited {
  color: red;
  text-decoration: none;
  /* border-bottom: dotted 1px red; */
}

#textbox a:hover {
  /* border-bottom: solid 1px #000; */
  color: #000;
}

#textbox a.imagelink {
  border: none;
}

.w3 {
  margin-bottom: 10px;
}

#textbox .w3 {
  height: 30px;
  margin-top: 2em;
  clear: both;
}

#textbox .w3 a {}

#textbox .w3 img {
  float: right;
  border: none;
  width: 88px;
  height: 31px;
}
/* --- FOR THE TEXT BOX FLOATED TO THE RIGHT --- */
.box {
  width: 215px;
  float: right;
  clear: right;
  /* background:url(images/box.png) bottom left; */
  border-radius: 11px;
  background-color: #D9D7D5;
  box-shadow: 3px 3px 5px #aaa;
  margin: 0 0 25px 25px;
  padding-bottom: 15px;
}

.box h2 {
  color: #fff;
  font-family: georgia, "new york", "times new roman", serif;
  font-size: 15px;
  /* background:url(images/boxh2.png) top left; */
  background-color: var(--blue);
  border-radius: 11px 11px 0 0;
  margin: 0 0 10px;
  padding: 7px 10px 7px 15px;
  border: 0;
}

#textbox .box p {
  margin: auto 15px 10px 10px;
  text-align: left;
}

#textbox .box ul {
  margin-left: 10px;
  padding-left: 10px;
  list-style: none;
  margin: 0em 0 .7em 0;
  color: red;
}
/* ----- NAVIGATION BAR CSS BELOW HERE ----- */
#navcontainer {
  width: 170px;
  float: left;
  margin: 230px auto auto 0;
  padding-left: 0;
}

#navcontainer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#navcontainer a {
  display: block;
  width: 155px;
  height: 31px;
  padding-left: 20px;
  padding-top: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: georgia, "new york", "times new roman", serif;
  font-size: 13px;
  color: #fff;
  /* transition: 1s;  This won't work without making a new image. The image isn't really moving as such but switching from one image to a slighty extended one. This required because of the fixed drop shadow from the LH frame edge. */
}

#navcontainer a:link,
#navcontainer a:visited {
  background: url("images/hand.png") top left;
}

#navcontainer li:hover a {
  background: url("images/hand.png") 175px 0;
}

#navcontainer a#current {
  background: url("images/handblue.png");
}

#navcontainer a#current span {
  position: relative;
  left: 0;
}

#navcontainer a:hover span {
  position: relative;
  left: 20px;
}
